/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	--header-title-color: rgba(219, 0, 255, 1);
	--header-title-shadow: rgba(255, 0, 112, 1);
	--title-background: rgba(255, 0, 112, 1);
	--title-color: rgba(0, 0, 40, 1);
	--not-background-title: rgba(255, 0, 112, 1);
	--text-color: rgba(241, 178, 206, 1);
	--link-shadow: rgba(255, 0, 112, 1);
	--btn-border: 1px solid rgba(255, 0, 112, 1);
	--link-underline: rgba(241, 178, 206, 1);
	--border-color: rgba(255, 0, 112, 1);
	--decorated-color: rgba(255, 0, 112, 1);
	--background-img: url('../images/cover-image-dark.png');
}
