/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	--header-title-color: #db00ff;
	--header-title-shadow: #ff0070;
	--title-background: #ff0070;
	--title-color: #000028;
	--not-background-title: #ff0070;
	--text-color: #f1b2ce;
	--link-shadow: #ff0070;
	--btn-border: 1px solid #ff0070;
	--link-underline: #f1b2ce;
	--border-color: #ff0070;
	--decorated-color: #ff0070;
	--hover-color: #ff007066;
	--background-img: url('../images/cover-image-dark.png');
}
