/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
	--header-title-color: #ffc2e6;
	--header-title-shadow: #ff0070;
	--title-background: #ff8dcb;
	--title-color: #353430;
	--not-background-title: #353430;
	--text-color: #353430;
	--link-shadow: #ff8dcb;
	--btn-border: 1px solid #353430;
	--link-underline: #353430;
	--border-color: #353430;
	--decorated-color: #353430;
	--hover-color: #32312d66;
	--background-img: url('../images/cover-image-light.png');
}

.page.theme_light .header__rec {
	display: none;
}
