@media (prefers-color-scheme: dark) {
	:root {
		--header-title-color: #db00ff;
		--header-title-shadow: #ff0070;
		--title-background: #ff0070;
		--title-color: #000028;
		--not-background-title: #ff0070;
		--text-color: #f1b2ce;
		--link-shadow: #ff0070;
		--btn-border: 1px solid #ff0070;
		--link-underline: #f1b2ce;
		--border-color: #ff0070;
		--decorated-color: #ff0070;
		--hover-color: #ff007066;
		--background-img: url('../images/cover-image-dark.png');
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--header-title-color: #ffc2e6;
		--header-title-shadow: #ff0070;
		--title-background: #ff8dcb;
		--title-color: #353430;
		--not-background-title: #353430;
		--text-color: #353430;
		--link-shadow: #ff8dcb;
		--btn-border: 1px solid #353430;
		--link-underline: #353430;
		--border-color: #353430;
		--decorated-color: #353430;
		--hover-color: #32312d66;
		--background-img: url('../images/cover-image-light.png');
	}

	.page.theme_light .header__rec {
		display: none;
	}
}
